.App {
  text-align: center;
}

.App-header{
  background: linear-gradient(135deg, #0363E0, #00D8EF, #00F5B3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
